body {
    background-color: #fcf2f0;
}

#button-div {
    display: flex;
    justify-content: center;
    gap: 80px;
}

#rock {
    background-image: url(rock.png);
    width: 95px;
    height: 95px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    border: 3px solid black;
}

#paper {
    background-image: url(paper.png);
    width: 95px;
    height: 95px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    border: 3px solid black;
}

#scissor {
    background-image: url(scissor.png);
    width: 95px;
    height: 95px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    border: 3px solid black;
}