@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    background-color: #fcf2f0;
    margin: 0%;
}

#header {
    background-color: #cac2c0;
    height: 8vw;
}

p {
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

#header > p {
    margin: 0%;
    font-size: 80px;
}

#title {
    font-size: 55px;
    margin: 0%;
}

#rule {
    font-size: 30px;
    margin: 0%;
}

#game-icons {
    display: flex;
    justify-content: center;
    gap: 80px;
}

#player {
    height: 95px;
    width: 95px;
    background-image: url(question.png);
    background-size: 95px 95px;
    background-repeat: no-repeat;
    background-position: center;
}

#cpu {
    height: 95px;
    width: 95px;
    background-image: url(question.png);
    background-size: 95px 95px;
    background-repeat: no-repeat;
    background-position: center;
}

#button-div {
    display: flex;
    justify-content: center;
    gap: 80px;
}

#rock {
    background-image: url(rock.png);
    width: 95px;
    height: 95px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    border: 3px solid black;
}

#paper {
    background-image: url(paper.png);
    width: 95px;
    height: 95px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    border: 3px solid black;
}

#scissor {
    background-image: url(scissor.png);
    width: 95px;
    height: 95px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
    border: 3px solid black;
}